<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResourceProviderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ResourceProvider/ResourceProviderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResourceProviderService"
                contract="ResourceProviderServiceReference.IResourceProviderService"
                name="BasicHttpBinding_IResourceProviderService" />
        </client>
    </system.serviceModel>
</configuration>